<!--hello metronome
<input type="number" [(ngModel)]="bpm">
frequency
<input type="range" min="200" max="2000" [(ngModel)]="frequency" >{{frequency}}
bpm
<input type="range" min="0" max="300" [(ngModel)]="bpm" >{{bpm}}
beats
<input type="range" min="2" max="12" [(ngModel)]="beats">{{beats}}
<input type="checkbox" [(ngModel)]="stress" /> stress first note
<div *ngIf="switchClass">1</div> <div *ngIf="!switchClass">0</div>

<button  (click)="start(bpm,beats)">start</button>
<button  (click)="stop()"> stop </button>-->

<div class="container">
  <div class="circle nm__shadow">
    <button (click)="increaseNumber()" (mousedown)="increaseBpm()" (mouseup)="clearBpm()">+</button>
    {{bpm}}
    <button (click)="decreaseNumber()" (mousedown)="decreaseBpm()" (mouseup)="clearBpm()">-</button>
  </div>
</div>
