@import "../variables.scss";
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  color: $txtcolor;
  transition: .3s color linear;
}

.bpm{
  font-size: 5rem;
}
.display {
  color:rgba($lights, 1);
}

.block {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  &__content{
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

}

.card {
  border-radius: 2.5rem;
  max-width: 20rem;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  &__actions {
    display: flex;
    padding: 1rem;
    align-items: center;
  }
}
.circle_button {
  display: flex;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  i{
    transition: .3s color linear;
  }
  &.md {
    height: 5rem;
    width: 5rem;
    i {
      font-size: 2rem;

    }
  }
  &.sm {
    height: 2rem;
    width: 2rem;
    i {
      font-size: 1rem;
    }
  }
}
