$bg:#ececec;
$txtcolor: #a7a7a7;
$lights: rgba(#fff, 0.3);
$shadows:rgba(#000, 0.05);

$rainbow: (
  "grave":#8000ff,
  "largo":#0000ff,
  "larghetto":#0080ff,
  "adagio":#04d4d4,
  "andante":#00de6f,
  "moderato":#00d66b,
  "allegretto":#71e002,
  "vivace":#69d100,
  "presto":#ff8000,
  "prestissimo":#FE0909
)

